p {
    font-weight: bolder;
    font-style: italic;
    line-height: 2;
    letter-spacing: 10px;
    word-spacing: 0.1px;
    font-size: xx-large;
    text-indent: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h3 {
    text-align: center;
    text-decoration: line-through;
    text-decoration-style: dashed;
    text-decoration-style: blue;
    color: rgb(255,90,0);
    color: #9ff;
}
div{
    margin-left: 50px;
    border: 1px solid red;
    padding: 10px;
}